Screen {
        layers: sidebar;
    }
Sidebar {
    width: auto;
    height: auto;
    dock: left;
    opacity: 100;
}

SourceIcon {
    height: auto;
    width: auto;
    color: rgb(100, 100, 255);
}

Sidebar.-hidden { 
    display:none;
}

.sb_src {
    background: rgb(100, 100, 255);
    width: 100%;
    max-height: 4;
    padding: 0;
    margin: 0;
}

Header {
    background: rgba(0, 0, 0, 0) !important;
    height: 2;
}

Footer {
    background: rgba(0, 0, 0, 0.555) !important;
    height: 1;
}

#credit {
    width: 100%;
    height: 2;
    text-align: left;
    color: rgb(60, 60, 100);
}

.with-border {
    border: heavy green;
}

#audio_src {
    height: 1fr;
    padding-left: 3;
    }

.highs_particle {
    background: #00ffcc;
    color: #00ffcc;
    width: 4;
    height: 4;
    tint: #00ffcc 60%;
}

.highs_particle {
    background: #ff6b00;
    color: #ff4400;
    width: 4;
    height: 4;
}

.highs_particle {
    background: #a8d8ff;
    color: #a8d8ff;
    width: 4;
    height: 4;
}